.spacer {
    flex: 1 1 auto;
}
.img-circle{
    width:40px;
    border-radius:50%;
    height:40px;
}

.btn{
    height:30px;
}
@media screen and (max-width: 600px) {
   h4 {
        font-size: 15px;
        /* float:right;  */
        text-align: center;   
    }
}
@media screen and (max-width: 600px) {
    .img-circle{
        width:40%;
        height:auto;
        float:right;
    }
}
@media screen and (max-width: 600px) {
    .btn {
        width:60px;
        height:auto;
        float:right;
        font-size: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .logout {
        float:right;
    }
}
