.book-card{
    max-width: 200px;
    text-align: center;
}
.userInfo{
    float: right;
}
.flex-container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    margin-top: 70px;
}
.book-item{
    margin:20px;    
    background-color: #F8F8F8;
    background-size: contain;
}
.card{
    max-height: 400px;
    width: 19rem;
}

.header{
    text-align: center;
}

.card-img-top{
    max-height: 250px;
}  
.row{
    overflow-y:hidden;
    overflow-x:hidden;
}
* {
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    .search {
        font-size: 10px;    
    }
}

@media screen and (max-width: 600px) {
    mat-form-field{
       width: 80px;    
    }
}
@media screen and (max-width: 600px) {
    .selectCategories {
       width: 20px;    
    }
}

